extends layout

block content
    nav.navbar
        //- Form for selecting taxonomy ID
        form(action="/search" method="get")
        //- Input for taxonomyID (using dropdown or radio buttons)
        select(name="taxonomyID")
            option(value="10090") Mus musculus
                option(value="559292" selected) Saccharomyces cerevisiae S288C
                option(value="9606") Homo Sapiens
        //- Input for proteinName
        input(type="text" name="proteinName" required placeholder="Enter protein name...")
        //- Submission button
        button(type="submit") Search
    
    .protein-info-container
        h1 Protein Information
        h2 Name: #{proteinName}
        if success
            p Sequence: 
                pre.sequence #{proteinSequence}
            if differentialabundanceData && differentialabundanceData.length > 0
                h3 Residue Level Plot
                span.info-button 
                    | ?
                    span.tooltip Text for residue level plot info here.
                svg#residuelevelPlot(width="800", height="200")
                script(type="application/json" id="differentialabundanceData")!= differentialabundanceData
                script(type="text/plain" id="proteinSequence") #{proteinSequence}
            else
                p No residue level plot available.
            if dynamicsPlot && dynamicsPlot.length > 0
                h3 
                    | Dynamics Plot
                    span.info-button 
                        | ?
                        span.tooltip Text for residue level plot info here.
                //- Directly inject the SVG XML content into the page
                div.plot!=dynamicsPlot
            else
                p No dynamics plot available.

            //-script(type="application/json" id="differentialabundanceData")!= differentialabundanceData
        else
            p No sequence found
    script(src="/bundle.js")